<html>
  <head>
    <title>Online-Voting-Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-slate-800 text-zinc-50">
    <div class="flex justify-center">
      <%- include ('header') %>
    </div>
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <div class="text-center">
          <a
            class="bg-inherit hover:bg-teal-800 transition duration-200 border-2 border-black p-2 rounded-lg"
            href="/index"
            >Home</a
          >
        </div>
        <br>
        <div class="flex flex-col justify-center items-center gap-3 pt-4">
          <% if (messages && messages.error && messages.error.length > 0) { %>
            <% for(var i=0; i<messages.error.length; i++) {%>
              <div class="bg-red-800 text-black font-semibold p-2 rounded-lg shadow"> <%= messages.error[i] %></div>
            <% } %>
          <% } %>
        </div>
        <div class="pt-6">
          <p class="font-bold text-2xl text-center">Create New Election</p>
          <div class="flex justify-center">
            <form
              action="/election"
              method="post"
              class="pt-8 flex flex-col gap-4 justify-center items-center"
            >
              <div class="flex flex-col w-full">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  class="border-2 border-black p-2 rounded-lg bg-inherit"
                />
              </div>
              <button
                type="submit"
                class="bg-inherit hover:bg-teal-00 font-bold text-white p-2 rounded-lg flex justify-center px-6 border-black"
              >
                ADD
              </button>
            </form>
          </div>
          <div class="p-4 text-center"><%- include ('footer') %></div> 
        </div>
      </div>
    </div>
  </body>
</html>