<header>
    <h1 class="text-4xl font-semibold text-blue-600/100 dark:text-blue-500/100">Online-Voting-Platform</h1>
    <h3 class="text-4xl text-center text-xl font-bold text-blue-600/25 dark:text--500/25">Where every vote counts</h3>
</header>