<html>

<head>
  <title>Online-Voting-Platform</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-slate-800 text-zinc-50 text-center">
  <div class="flex justify-center">
    <%- include('header') %>
  </div>
  <br>
    <span class="bg-inherit hover:bg-teal-800 border-2  rounded-lg text-white p-2 mr-4 "><a href="/index">Home</a>
    </span>
    <span class="bg-inherit hover:bg-teal-800 border-2  rounded-lg text-white p-2 "><a href="/">Sign-out</a>
    </span>
    <br><br>
    <div class="text-center text-xl font-semibold ml-5">
      Welcome,
      <%= username %>
    </div>  
     
  
  <div class="flex justify-center p-4">
    <div class="flex flex-col justify-center md:w-2/5 w-full">
      <div class="pt-6 text-center">
        <a href="/election/create" class="bg-inherit hover:bg-teal-800 border-2  rounded-lg p-2 text-white">
          Create Election
        </a>
      </div>
      <div><%- include ('elections.ejs') %></div>
    </div>
  </div>
  <div>
    <%- include ('footer.ejs') %>
  </div>
</body>

</html>